.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

thead, td {
border-bottom: 1px solid #009933;
}

td {
    padding: 5px;
}

.button {
    background-color: #009933;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #006622;
    color: white;
}

table{
    border: 1px solid #009933;
    border-collapse: collapse;
}
button:focus{
    background:olive;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

tr:hover {background-color: olive;}


table {
    width: 100%;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
